.btn {
  /* FOR THIS PROJECT ONLY */
  margin: 1rem;
  /* END FOR THIS PROJECT ONLY */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:focus {
    outline: none; }
  .btn--blue {
    background-color: var(--color-primary);
    color: var(--color-white); }
  .btn--white {
    background-color: #b8bbdf;
    border: 1px solid #b8bbdf;
    color: var(--color-primary); }
  .btn--circle {
    background: #eb6710;
    border: 1px solid #b8bbdf;
    color: var(--color-primary); }

.home__main,
.circle {
  box-shadow: 0rem 3rem 3rem -2rem #292828;
  overflow: hidden;
  position: relative;
  border: 3px solid var(--color-upperline__in);
  display: flex;
  justify-content: center;
  align-items: center; }

.circle__icon {
  width: 8rem;
  height: 8rem;
  object-fit: cover; }

.btn--circle {
  position: absolute;
  width: 4rem;
  height: 3rem;
  z-index: 1000;
  transform: translateX(-4rem);
  transition: all 2s ease-in-out; }

.circle--1:hover .circle__icon {
  transform: translateY(-3rem) translateX(4rem); }

.circle--1:hover .btn--circle {
  transform: translateY(4.3rem) translateX(-4rem); }

.form {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr  50vw 1fr;
  grid-template-rows: repeat(3, 1fr);
  z-index: 1000;
  position: absolute;
  justify-items: center;
  align-items: center; }
  .form__layer {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100vw;
    height: 100vh;
    background: orange; }
  .form form {
    border: 3px solid var(--color-upperline__in);
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    z-index: 400; }
  .form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .form__group:first-child {
      padding-top: 1rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: var(--color-dark);
    padding: 1.3rem 0;
    border-radius: 2px;
    background-color: var(--color-white);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s; }
  .form:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(var(--color-dark), 0.1);
    border-bottom: 3px solid var(--color-primary); }
  .form:focus:invalid {
    border-bottom: 3px solid var(--color-dark); }
  .form::-webkit-input-placeholder {
    color: var(--color-dark); }
  .form__label {
    font-size: 2rem;
    font-weight: 400;
    margin-top: .5rem 0;
    display: block;
    transition: all .3s;
    color: var(--color-white); }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__message {
    height: 15rem;
    resize: none; }
  .form__circle--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .form__circle--2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2; }
  .form__circle--3 {
    grid-column: 1 / 2;
    grid-row: 3 /4; }
  .form__circle--4 {
    grid-column: 3 / 4;
    grid-row: 3 /4; }
  .form__icon {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    transform: translate(4.3rem, 4rem); }
  .form__upperline--1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 31rem;
    transform: rotate(-27deg) translate(-29rem, 10.5rem); }
    .form__upperline--1__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      right: 0;
      z-index: 2; }
  .form__upperline--2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 31rem;
    transform: rotate(30deg) translate(28rem, 9rem); }
    .form__upperline--2__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      right: 0;
      z-index: 2; }
  .form__upperline--3 {
    bottom: 0;
    right: 0;
    width: 29rem;
    transform: rotate(26deg) translate(-27rem, -6rem);
    position: absolute; }
    .form__upperline--3__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      left: 0;
      z-index: 2; }
  .form__upperline--4 {
    bottom: 0;
    left: 0;
    width: 27rem;
    transform: rotate(-21deg) translate(29rem, -7.7rem);
    position: absolute; }
    .form__upperline--4__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      left: 0;
      z-index: 2; }
  .form__upperline--sup {
    top: 0;
    left: 0;
    right: 0;
    width: 14.5rem;
    transform: rotate(90deg) translate(7rem, -61rem);
    position: absolute; }
    .form__upperline--sup__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      left: 0;
      z-index: 2; }
  .form__btn--toHome {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 9rem;
    height: 9rem;
    box-shadow: 0rem 3rem 3rem -2rem #292828;
    overflow: hidden;
    border: 3px solid var(--color-upperline__in);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    background-color: var(--color-white);
    z-index: 50;
    transform: translate(62.5rem, -2rem); }
    .form__btn--toHome__icon {
      width: 7rem;
      height: 7rem;
      object-fit: cover; }

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: relative;
  background-image: linear-gradient(to top, rgba(1, 1, 12, 0.7), rgba(1, 1, 15, 0.9)), url("../img/bu.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover; }
  .contact__text-bg {
    z-index: 100;
    position: absolute;
    top: 1rem;
    left: 0;
    opacity: .4; }
  .contact__text__bg {
    font-size: 12rem;
    color: var(--color-white);
    bottom: 0;
    left: 0;
    opacity: 1; }

.home__main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-items: center;
  align-items: center;
  width: 25rem;
  border-radius: 1000px;
  height: 25rem;
  background-image: linear-gradient(rgba(7, 7, 7, 0.6), rgba(8, 8, 8, 0.6)), url("../img/bg1.jpg");
  background-size: cover;
  background-position: center;
  transform: translate(6rem, -7rem);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  padding: 0 1.5rem;
  font-size: 1.3rem; }

.home__upperline--1 {
  grid-row: 1 / 2;
  grid-column: 1 / span 2;
  width: 15rem;
  transform: rotate(33deg) translate(7rem, 10rem);
  position: relative; }
  .home__upperline--1__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    right: 0;
    z-index: 2; }

.home__upperline--2 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  width: 18.8rem;
  transform: rotate(-51deg) translate(23rem, 2rem);
  position: relative; }
  .home__upperline--2__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    right: 0;
    z-index: 90; }

.home__upperline--3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  width: 11.8rem;
  transform: rotate(143deg) translate(8rem, -6rem);
  position: relative; }
  .home__upperline--3__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    right: 0;
    z-index: 90; }

.home__upperline--4 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  width: 5.8rem;
  transform: rotate(78deg) translate(-20rem, 8rem);
  position: relative; }
  .home__upperline--4__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    left: 0;
    z-index: 90; }

.home__upperline--toProjects {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 10rem;
  transform: rotate(41deg) translate(-12rem, 4rem);
  position: relative; }
  .home__upperline--toProjects__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    right: 0;
    z-index: 2; }

.home__circle--1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transform: translate(0rem, 2rem);
  display: flex;
  align-items: center;
  justify-content: center; }

.home__circle--2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  transform: translate(4rem, -4rem); }

.home__circle--3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  transform: translate(9.6rem, 1.6rem); }

.home__circle--4 {
  grid-column: 3 /4;
  grid-row: 3 / 4;
  transform: translate(-9rem, -7rem); }

.home__circle__icon--briefcase {
  transform: translate(4.8rem, 4rem); }

.home__circle__icon--mail {
  transform: translate(4.8rem, 4rem); }

.home__circle__icon--skills {
  transform: translate(4.8rem, 4rem); }

.home__circle__icon--me {
  transform: translate(4.8rem, 4rem); }

.projects {
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  grid-template-rows: 100vh;
  position: relative;
  background-image: url("../img/abc.jpg");
  background-position: center;
  background-size: cover; }
  .projects__container {
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center; }
  .projects__upperline {
    z-index: 1; }
    .projects__upperline--fromHome {
      grid-row: 3 / 4;
      grid-column: 1 / span 2;
      width: 11rem;
      transform: rotate(45deg) translate(-18rem, 29rem);
      position: relative; }
      .projects__upperline--fromHome__in {
        display: block;
        height: 5px;
        width: 100%;
        background-color: var(--color-upperline__in);
        position: absolute;
        right: 0;
        z-index: 2; }
  .projects__circle--1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transform: translate(-5rem, 1rem);
    display: flex;
    align-items: center;
    justify-content: center; }
  .projects__circle--2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    transform: translate(0rem, 4rem);
    display: flex;
    align-items: center;
    justify-content: center; }
  .projects__circle--3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    transform: translate(10rem, -1rem);
    display: flex;
    align-items: center;
    justify-content: center; }
  .projects__circle--4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    transform: translate(13rem, 0rem);
    display: flex;
    align-items: center;
    justify-content: center; }
  .projects__btn--toHome {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 12rem;
    height: 12rem;
    box-shadow: 0rem 3rem 3rem -2rem #292828;
    overflow: hidden;
    position: relative;
    border: 3px solid var(--color-upperline__in);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    transform: translate(-28rem, 0rem);
    z-index: 2;
    background-color: var(--color-white); }
    .projects__btn--toHome__icon {
      width: 9rem;
      height: 9rem;
      object-fit: cover;
      transform: translateY(-0.8rem); }
  .projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .projects__upperline--1 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 18rem;
    transform: rotate(143deg) translate(8rem, 18rem);
    position: relative; }
    .projects__upperline--1__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      right: 0;
      z-index: 2; }
  .projects__upperline--2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 18rem;
    transform: rotate(143deg) translate(2rem, -16rem);
    position: relative; }
    .projects__upperline--2__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      right: 0;
      z-index: 2; }
  .projects__upperline--3 {
    bottom: 0;
    left: 0;
    width: 30rem;
    transform: rotate(30deg) translate(-2rem, -22rem);
    position: absolute; }
    .projects__upperline--3__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      left: 0;
      z-index: 2; }
  .projects__upperline--4 {
    bottom: 0;
    right: 0;
    width: 17.5rem;
    transform: rotate(-41deg) translate(12rem, -17rem);
    position: absolute; }
    .projects__upperline--4__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      left: 0;
      z-index: 2; }
  .projects__upperline--5 {
    top: 0;
    right: 0;
    width: 26rem;
    transform: rotate(30deg) translate(8rem, 23rem);
    position: absolute; }
    .projects__upperline--5__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      left: 0;
      z-index: 2; }

.skills {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/skills.jpg");
  background-position: center;
  background-size: cover; }
  .skills__wrapper {
    list-style: none;
    width: 46%;
    margin: 6rem auto;
    padding: 2rem 3.5rem;
    color: var(--color-white);
    align-items: center;
    transform: translateX(2rem);
    border: 3px solid var(--color-upperline__in); }
  .skills__item {
    margin: 2rem 2rem;
    display: grid;
    grid-template-columns: 20rem 1fr;
    align-items: center; }
  .skills__title {
    grid-column: 1 /2;
    display: flex;
    align-items: center; }
    .skills__title h3 {
      font-size: 1.7rem;
      color: var(--color-white);
      margin-left: 5rem; }
  .skills__icon {
    width: 3rem;
    height: 3rem;
    object-fit: cover; }
    .skills__icon--html {
      fill: #E54C21; }
    .skills__icon--css {
      fill: #264DE4; }
    .skills__icon--git {
      fill: #F05033; }
    .skills__icon--bootstrap {
      fill: #18073D; }
  .skills__amount {
    grid-column: 2 /3;
    width: 88%;
    height: 3px; }
  .skills__bar {
    position: relative;
    display: block;
    background-color: #1b3263;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 0 1rem #2187e7b3; }
    .skills__bar__score {
      position: absolute;
      display: block;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #2187e7;
      width: 0%; }

.skills__btn--toHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 12rem;
  height: 12rem;
  box-shadow: 0rem 3rem 3rem -2rem #292828;
  overflow: hidden;
  border: 3px solid var(--color-upperline__in);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  background-color: var(--color-white);
  z-index: 50;
  transform: translate(2rem, 2rem); }
  .skills__btn--toHome__icon {
    width: 9rem;
    height: 9rem;
    object-fit: cover; }

.skills__upperline--1 {
  top: 0;
  left: 0;
  width: 28.16rem;
  transform: rotate(0deg) translate(12rem, 8rem);
  position: absolute; }
  .skills__upperline--1__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    left: 0;
    z-index: 2; }

.skills__upperline--2 {
  top: 0;
  left: 0;
  width: 4.18rem;
  transform: rotate(90deg) translate(10rem, -38rem);
  position: absolute; }
  .skills__upperline--2__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    left: 0;
    z-index: 2; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-items: center;
  align-items: center; }

.container {
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  grid-template-rows: 100vh;
  position: relative;
  z-index: 3; }
  .container__layer {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4; }

.home {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  z-index: 4; }

.projects {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 3; }

.skills {
  transform: translateX(100%); }

.form {
  transform: translateY(100%); }

.upperline {
  display: block;
  height: 5px;
  background-color: var(--color-upperline-bg);
  border: var(--color-upperline-border);
  box-shadow: var(--shadow-upperline);
  z-index: 1; }

.circle {
  display: block;
  width: 18rem;
  height: 18rem;
  border-radius: 1000px;
  background-color: white;
  z-index: 5; }

body {
  font-family: 'Alegreya Sans', sans-serif; }

:root {
  --color-primary: #050530;
  --color-secondary: #093749;
  --color-tertiary: #106585;
  --color-dark: #020307;
  --color-white: rgb(235, 227, 227);
  --color-upperline-bg: #1b3263;
  --color-upperline-border: 1px solid rgba(0,0,0, .3);
  --shadow-upperline: 0 0 1rem #2187e7b3;
  --color-upperline__in: #2187e7; }
