*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-items: center;
  align-items: center;
  /* scroll-snap-type: y proximity;
    scroll-snap-stop: normal;

    background: var(--color-secondary);*/ }

.container {
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  grid-template-rows: 100vh;
  position: relative;
  z-index: 3; }
  .container__layer {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4; }

.skills {
  transform: translateY(100%); }

.main {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  z-index: 4; }

.about__container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-items: center;
  align-items: center;
  width: 25rem;
  border-radius: 1000px;
  height: 25rem;
  background-image: linear-gradient(rgba(7, 7, 7, 0.6), rgba(8, 8, 8, 0.6)), url("../img/bg1.jpg");
  background-size: cover;
  background-position: center;
  transform: translate(6rem, -7rem);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  padding: 0 1.5rem;
  font-size: 1.3rem; }

.upperligne {
  display: block;
  height: 5px;
  background-color: #1b3263;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1rem #2187e7b3;
  z-index: 1; }
  .upperligne--1 {
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
    width: 15rem;
    transform: rotate(33deg) translate(7rem, 10rem);
    position: relative; }
    .upperligne--1__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: #2187e7;
      position: absolute;
      right: 0;
      z-index: 2; }
  .upperligne--2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 18.8rem;
    transform: rotate(-51deg) translate(23rem, 2rem);
    position: relative; }
    .upperligne--2__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: #2187e7;
      position: absolute;
      right: 0;
      z-index: 90; }
  .upperligne--3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    width: 11.8rem;
    transform: rotate(143deg) translate(8rem, -6rem);
    position: relative; }
    .upperligne--3__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: #2187e7;
      position: absolute;
      right: 0;
      z-index: 90; }
  .upperligne--4 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    width: 12.8rem;
    transform: rotate(78deg) translate(-18rem, 8rem);
    position: relative; }
    .upperligne--4__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: #2187e7;
      position: absolute;
      left: 0;
      z-index: 90; }

.circle {
  display: block;
  width: 18rem;
  height: 18rem;
  border-radius: 1000px;
  background-color: white;
  z-index: 5; }
  .circle--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transform: translate(0rem, 2rem);
    display: flex;
    align-items: center;
    justify-content: center; }
  .circle--2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    transform: translate(4rem, -4rem); }
  .circle--3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    transform: translate(9.6rem, 1.6rem); }
  .circle--4 {
    grid-column: 3 /4;
    grid-row: 3 / 4;
    transform: translate(-9rem, -2rem); }

.btn {
  /* FOR THIS PROJECT ONLY */
  margin: 1rem;
  /* END FOR THIS PROJECT ONLY */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:focus {
    outline: none; }
  .btn--blue {
    background-color: var(--color-primary);
    color: var(--color-white); }
  .btn--white {
    background-color: #b8bbdf;
    border: 1px solid #b8bbdf;
    color: var(--color-primary); }
  .btn--circle {
    background: #eb6710;
    border: 1px solid #b8bbdf;
    color: var(--color-primary); }

.about__container,
.circle {
  box-shadow: 0rem 3rem 3rem -2rem #292828;
  overflow: hidden;
  position: relative;
  border: 3px solid #2187e7; }

.btn--circle {
  position: absolute;
  width: 4rem;
  height: 3rem;
  z-index: 1000;
  transform: translateX(-4rem);
  transition: all 2s ease-in-out; }

.circle--1:hover .circle__icon {
  transform: translateY(-3rem) translateX(4rem); }

.circle--1:hover .btn--circle {
  transform: translateY(4.3rem) translateX(-4rem); }

.circle__icon {
  width: 8rem;
  width: 8rem;
  object-fit: cover;
  z-index: 2000; }
  .circle__icon--1 {
    transform: translate(4.1rem, -0.8rem);
    transition: all .8s ease-in-out; }
  .circle__icon--2 {
    transform: translate(4.9rem, 4.6rem); }
  .circle__icon--3 {
    transform: translate(5rem, 4.9rem); }
  .circle__icon--4 {
    transform: translate(4.6rem, 4.2rem); }

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: relative;
  background-image: linear-gradient(to top, rgba(1, 1, 12, 0.7), rgba(1, 1, 15, 0.9)), url("../img/bu.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover; }
  .contact__text-bg {
    z-index: 100;
    position: absolute;
    top: 1rem;
    left: 0;
    opacity: .4; }
  .contact__text__bg {
    font-size: 12rem;
    color: var(--color-white);
    bottom: 0;
    left: 0;
    opacity: 1; }

.form {
  transform: translateY(5rem);
  width: 40%; }
  .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .form__group {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: var(--color-dark);
    padding: 1.5rem 0;
    border-radius: 2px;
    background-color: var(--color-white);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s; }
  .form:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(var(--color-dark), 0.1);
    border-bottom: 3px solid var(--color-primary); }
  .form:focus:invalid {
    border-bottom: 3px solid var(--color-dark); }
  .form::-webkit-input-placeholder {
    color: var(--color-dark); }
  .form__label {
    font-size: 2rem;
    font-weight: 700;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
    color: var(--color-white); }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__message {
    height: 15rem;
    resize: none; }

.projects {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  margin: 0;
  padding: 0;
  background: #81819c;
  display: grid;
  grid-template-columns: 1fr 50rem 1fr; }

.sidebar {
  background-color: #E54C21; }

.swiper-container {
  grid-column: 2 /3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 95%;
  height: 95%;
  margin: 10rem 15rem; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; }

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .project__btn--home {
    width: 3rem;
    height: 3rem; }
  .project__img__container {
    margin: 0 1rem;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    box-shadow: 0 10px 6px -6px #242323;
    position: relative;
    overflow: hidden; }
    .project__img__container:hover .project__img {
      transform: scale(1.2); }
  .project__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/img1.jpg");
    background-position: center;
    background-size: cover;
    transition: all 1s ease-in-out; }
  .project__technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
    background: var(--color-white);
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 10px 6px -6px #242323; }
    .project__technologies h4 {
      text-transform: uppercase; }
  .project__list {
    list-style: none;
    margin-top: 1rem; }
  .project__icon {
    width: 5rem;
    height: 5rem;
    object-fit: cover; }
    .project__icon--html {
      fill: #E54C21; }
    .project__icon--css {
      fill: #254BDE; }
  .project__cta {
    position: absolute;
    bottom: 7%; }

.skills {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/skills.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .skills__wrapper {
    list-style: none;
    width: 60%;
    margin: 6rem auto;
    color: var(--color-white);
    align-items: center; }
  .skills__item {
    margin: 2rem 2rem;
    display: grid;
    grid-template-columns: 20rem 1fr;
    align-items: center; }
  .skills__title {
    grid-column: 1 /2;
    display: flex;
    align-items: center; }
    .skills__title h3 {
      font-size: 1.7rem;
      color: var(--color-white);
      margin-left: 5rem; }
  .skills__icon {
    width: 3rem;
    height: 3rem;
    object-fit: cover; }
    .skills__icon--html {
      fill: #E54C21; }
    .skills__icon--css {
      fill: #264DE4; }
    .skills__icon--git {
      fill: #F05033; }
    .skills__icon--bootstrap {
      fill: #18073D; }
  .skills__amount {
    grid-column: 2 /3;
    width: 50%;
    height: 3px; }
  .skills__bar {
    position: relative;
    display: block;
    background-color: #1b3263;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 0 1rem #2187e7b3; }
    .skills__bar__score {
      position: absolute;
      display: block;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #2187e7;
      width: 0%; }

body {
  font-family: 'Alegreya Sans', sans-serif; }

:root {
  --color-primary: #050530;
  --color-secondary: #093749;
  --color-tertiary: #106585;
  --color-dark: #020307;
  --color-white: rgb(235, 227, 227); }
