.btn {
  /* FOR THIS PROJECT ONLY */
  margin: 1rem;
  /* END FOR THIS PROJECT ONLY */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:focus {
    outline: none; }
  .btn--blue {
    background-color: var(--color-primary);
    color: var(--color-white); }
  .btn--white {
    background-color: #b8bbdf;
    border: 1px solid #b8bbdf;
    color: var(--color-primary); }
  .btn--circle {
    background: #eb6710;
    border: 1px solid #b8bbdf;
    color: var(--color-primary); }

.btn--home {
  width: 9rem;
  height: 9rem;
  box-shadow: 0rem 3rem 3rem -2rem #292828;
  overflow: hidden;
  border: 3px solid var(--color-upperline__in);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  background-color: var(--color-white);
  z-index: 40;
  cursor: pointer; }
  .btn--home__icon {
    width: 7rem;
    height: 7rem; }

.circle {
  box-shadow: 0rem 3rem 3rem -2rem #292828;
  overflow: hidden;
  position: relative;
  border: 3px solid var(--color-upperline__in);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 18rem;
  border-radius: 1000px;
  background-color: white;
  z-index: 5;
  cursor: pointer; }

.circle__icon {
  width: 8rem;
  height: 8rem;
  object-fit: cover; }

.about {
  display: grid;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: orange;
  grid-template-columns: 1fr 40vw 1fr;
  grid-template-rows: 2rem max-content 40vh 15rem 1fr;
  z-index: 2000;
  justify-items: center;
  overflow: hidden; }
  .about__img {
    width: 100%;
    height: 130%;
    object-fit: cover; }
  .about__upperline {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    width: 130%;
    transform: rotate(0) translate(44rem, 10rem);
    position: relative;
    z-index: 2; }
    .about__upperline__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      left: 0;
      z-index: 3; }
  .about__circle__container {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    width: 15rem;
    height: 15rem;
    margin-top: 1.5rem;
    perspective: 1000px;
    z-index: 3; }
  .about__circle {
    width: 100%;
    height: 100%;
    transform: rotateX(0deg); }
  .about__btn--home {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-bottom: 2rem; }
  .about__main {
    width: 100%;
    height: 100%;
    background: var(--color-white);
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    border: 3px solid var(--color-upperline__in); }

.form {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr  50vw 1fr;
  grid-template-rows: repeat(3, 1fr);
  z-index: 10000;
  position: absolute;
  justify-items: center;
  align-items: center; }
  .form__layer {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/form_small.jpg");
    background-size: cover;
    background-position: center; }
  .form__main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    padding: .5rem 2rem;
    justify-items: center;
    background: var(--color-upperline__in);
    border-radius: 5px;
    z-index: 7;
    overflow: hidden; }
    .form__main__items {
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      width: 100%; }
  .form__item__icon {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    z-index: 1900; }
  .form__item__phone {
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid var(--color-upperline__in);
    box-shadow: 0rem 3rem 3rem -2rem #292828;
    transform: translate(35rem, 14rem);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 6rem;
    background: var(--color-white);
    font-size: 1.5rem;
    color: var(--color-upperline__in);
    font-family: sans-serif;
    opacity: 0; }
  .form form {
    width: 90%;
    border: 3px solid var(--color-upperline__in);
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    z-index: 400;
    overflow: hidden; }
  .form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .form__group:first-child {
      padding-top: 1rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: var(--color-dark);
    padding: 1.3rem 0;
    border-radius: 2px;
    background-color: var(--color-white);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s; }
  .form:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(var(--color-dark), 0.1);
    border-bottom: 3px solid var(--color-primary); }
  .form:focus:invalid {
    border-bottom: 3px solid var(--color-dark); }
  .form::-webkit-input-placeholder {
    color: var(--color-dark); }
  .form__label {
    font-size: 2rem;
    font-weight: 400;
    margin-top: .5rem 0;
    display: block;
    transition: all .3s;
    color: var(--color-white); }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__message {
    height: 15rem;
    resize: none; }
  .form__upperline--sup {
    top: 0;
    right: 0;
    width: 14.5rem;
    transform: rotate(90deg) translate(7rem, 29rem);
    position: absolute;
    z-index: 5; }
    .form__upperline--sup__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      left: 0;
      z-index: 2; }
  .form__btn--home {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 50;
    transform: translate(3.3rem, -1rem); }

.home__welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: inset 0 0 1.3rem 1px #000000;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  transform: translate(6rem, -7rem);
  overflow: hidden; }
  .home__welcome__text {
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-dark); }

.home__main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 25rem;
  width: 25rem;
  border-radius: 1000px;
  border: 3px solid var(--color-upperline__in);
  overflow: hidden;
  position: relative;
  padding: 0 1.5rem;
  box-shadow: 0rem 3rem 3rem -2rem #292828;
  background-image: linear-gradient(rgba(7, 7, 7, 0.6), rgba(8, 8, 8, 0.6)), url("../img/home_person_small.jpg");
  transform: translate(6rem, -7rem);
  text-align: center;
  color: var(--color-white);
  font-size: 1.3rem;
  z-index: 3; }

.home__upperline--1 {
  grid-row: 1 / 2;
  grid-column: 1 / span 2;
  width: 15rem;
  transform: rotate(33deg) translate(7rem, 10rem);
  position: relative; }
  .home__upperline--1__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    right: 0;
    z-index: 2; }

.home__upperline--2 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  width: 18.8rem;
  transform: rotate(-51deg) translate(23rem, 2rem);
  position: relative; }
  .home__upperline--2__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    right: 0;
    z-index: 90; }

.home__upperline--3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  width: 11.8rem;
  transform: rotate(143deg) translate(8rem, -6rem);
  position: relative; }
  .home__upperline--3__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    right: 0;
    z-index: 90; }

.home__upperline--4 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  width: 5.8rem;
  transform: rotate(78deg) translate(-20rem, 8rem);
  position: relative; }
  .home__upperline--4__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    left: 0;
    z-index: 90; }

.home__circle {
  z-index: 1500; }
  .home__circle__layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    border: 3px solid white;
    z-index: 2000;
    opacity: 0; }
    .home__circle__layer__text {
      font-size: 1.9rem;
      color: var(--color-white);
      font-weight: 400;
      line-height: 1.3;
      z-index: 2001; }
  .home__circle--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transform: translate(0rem, 2rem);
    position: relative; }
  .home__circle--2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    transform: translate(4rem, -4rem);
    position: relative; }
  .home__circle--3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    transform: translate(9.6rem, 1.6rem);
    position: relative; }
  .home__circle--4 {
    grid-column: 3 /4;
    grid-row: 3 / 4;
    transform: translate(-9rem, -7rem);
    position: relative; }

.projects {
  display: grid;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: url("../img/sky_small.jpg");
  background-size: cover;
  background-position: center;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 10rem 1fr 10rem; }
  .projects__layer {
    grid-row: 1 /-1;
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/cool_small.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1; }
  .projects__container {
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 15rem) repeat(3, calc(50vw / 3));
    grid-template-rows: max-content 10rem max-content;
    justify-items: center;
    align-items: center; }
  .projects__upperline {
    z-index: 1; }
    .projects__upperline--fromHome {
      width: 20rem;
      transform: rotate(90deg) translate(0rem, 0rem);
      position: relative; }
      .projects__upperline--fromHome__in {
        display: block;
        height: 5px;
        width: 100%;
        background-color: var(--color-upperline__in);
        position: absolute;
        right: 0;
        z-index: 2; }
  .projects__container__upperline {
    grid-row: 3 / 4;
    grid-column: 2 / 3; }
  .projects__circle {
    z-index: 1800; }
    .projects__circle__layer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: grid;
      width: 100%;
      height: 100%;
      z-index: 2000;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      border-radius: 50%;
      font-size: 1.5rem;
      letter-spacing: 1.3px; }
      .projects__circle__layer__head {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        background: rgba(0, 0, 0, 0.9);
        transform: translateY(-100%);
        display: hidden; }
      .projects__circle__layer__source {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        background: var(--color-white);
        color: var(--color-upperline__in);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        padding-left: 1.5rem;
        padding-bottom: .8rem;
        display: hidden;
        cursor: pointer; }
      .projects__circle__layer__web {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        background: var(--color-upperline__in);
        color: var(--color-white);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1.5rem;
        padding-bottom: .8rem;
        transform: translateX(100%);
        display: hidden;
        cursor: pointer; }
    .projects__circle--1 {
      grid-column: 3 / 4;
      grid-row: 3 / 4; }
    .projects__circle--2 {
      grid-column: 3 / 4;
      grid-row: 1 / 2; }
    .projects__circle--3 {
      grid-column: 5 / 6;
      grid-row: 3 / 4; }
    .projects__circle--4 {
      grid-column: 5 / 6;
      grid-row: 1 / 2; }
  .projects__btn--home {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    position: relative;
    margin-right: 1rem;
    transform: translate(2.5rem, 0rem);
    z-index: 2; }
  .projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .projects__upperline--1 {
    grid-row: 2 / 3;
    grid-column: 4  / 5;
    width: 175%;
    transform: rotate(-30deg) translate(0rem, 0rem);
    position: relative; }
    .projects__upperline--1__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      left: 0;
      z-index: 3; }
  .projects__upperline--2 {
    grid-row: 2 / 3;
    grid-column: 4  / 5;
    width: 175%;
    transform: rotate(30deg) translate(0rem, 0rem);
    position: relative; }
    .projects__upperline--2__in {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      z-index: 2; }
  .projects__upperline--3 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    width: 137%;
    transform: rotate(0deg) translate(0rem, 0rem); }
    .projects__upperline--3__in {
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--color-upperline__in);
      position: absolute;
      left: 0;
      z-index: 2; }

.skills {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  z-index: 100;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/skills.jpg"); }
  .skills__wrapper {
    list-style: none;
    width: 46%;
    margin: 6rem auto;
    padding: 2rem 3.5rem;
    color: var(--color-white);
    align-items: center;
    transform: translateX(2rem);
    border: 3px solid var(--color-upperline__in); }
  .skills__item {
    margin: 2rem 2rem;
    display: grid;
    grid-template-columns: 20rem 1fr;
    align-items: center; }
  .skills__title {
    grid-column: 1 /2;
    display: flex;
    align-items: center; }
    .skills__title h3 {
      font-size: 1.7rem;
      color: var(--color-white);
      margin-left: 5rem; }
  .skills__icon {
    width: 3rem;
    height: 3rem;
    object-fit: cover; }
    .skills__icon--html {
      fill: #E54C21; }
    .skills__icon--css {
      fill: #264DE4; }
    .skills__icon--git {
      fill: #F05033; }
    .skills__icon--bootstrap {
      fill: #18073D; }
  .skills__amount {
    grid-column: 2 /3;
    width: 88%;
    height: 3px; }
  .skills__bar {
    position: relative;
    display: block;
    background-color: #1b3263;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 0 1rem #2187e7b3; }
    .skills__bar__score {
      position: absolute;
      display: block;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #2187e7;
      width: 0%; }

.skills__btn--home {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  transform: translate(2rem, 2rem); }

.skills__upperline--1 {
  top: 0;
  left: 0;
  width: 28.16rem;
  transform: rotate(0deg) translate(12rem, 8rem);
  position: absolute; }
  .skills__upperline--1__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    left: 0;
    z-index: 2; }

.skills__upperline--2 {
  top: 0;
  left: 0;
  width: 4.18rem;
  transform: rotate(90deg) translate(10rem, -38rem);
  position: absolute; }
  .skills__upperline--2__in {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-upperline__in);
    position: absolute;
    left: 0;
    z-index: 2; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-items: center;
  align-items: center; }

.container {
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  grid-template-rows: 100vh;
  position: relative;
  z-index: 3; }
  .container__layer {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/home_check_small.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4; }

.home {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  z-index: 4; }

.projects {
  z-index: 3; }

.skills {
  transform: translateX(100%); }

.about {
  transform: translateX(-100%); }

.upperline {
  display: block;
  height: 5px;
  background-color: var(--color-upperline-bg);
  border: var(--color-upperline-border);
  box-shadow: var(--shadow-upperline);
  z-index: 1; }

body {
  font-family: 'Alegreya Sans', sans-serif; }

:root {
  --color-primary: #050530;
  --color-secondary: #093749;
  --color-tertiary: #106585;
  --color-dark: #020307;
  --color-white: rgb(235, 227, 227);
  --color-upperline-bg: #1b3263;
  --color-upperline-border: 1px solid rgba(0,0,0, .3);
  --shadow-upperline: 0 0 1rem #2187e7b3;
  --color-upperline__in: #2187e7; }
