*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    //background: var(--color-dark);
    overflow-x: hidden;
    background: orange;
}

.container {
    display: grid;
    grid-template-columns: 15rem 1fr 10rem;
    grid-template-rows: 100vh 130vh 100vh;
}

.sidebar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    //opacity: 0;
    z-index: 2;
}



.about {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    z-index: 2;
}

.layer-back {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-image:linear-gradient(
         rgba(black, 0.9),
         rgba(black, 0.9)),
         url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.projects {
    grid-row: 2 / 3;
    height: 100%;
    grid-column: 2 / 4;
    //background:rgba(orange, .8);
    z-index: 10;
    transform: translateY(300px);
}

.skills {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
}
