*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: scroll;

    scroll-snap-type: y proximity;
    scroll-snap-stop: normal;

    background: var(--color-secondary);
}

.container {
    display: grid;
    grid-template-columns: 15rem 1fr 10rem;
    grid-template-rows: 100vh 100vh 115vh 100vh;
}

.sidebar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    //opacity: 0;
    z-index: 2;
}



.about {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    z-index: 2;
    scroll-snap-align: end;
    scroll-margin-bottom: -200px;
}

.layer-back {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-image:linear-gradient(to top,
         rgba(#010124, .7),
         rgba(#010124, .9)),
         url("../img/bg3.jpg");
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.projects {
    grid-row: 2 / 3;
    height: 100%;
    grid-column: 2 / 4;
    //background:rgba(orange, .8);
    z-index: 900;
    transform: translateY(300px);
    scroll-snap-align: end;
    //scroll-padding-top: 200px;


    //scroll-margin-top: 400px; 
    
   // scroll-margin-block-start: -800px;

   // scroll-margin-block-end: 100px;

    scroll-margin-top: 200px;

    scroll-margin-bottom: 0px;
   
    
   
}

.skills {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    scroll-snap-align: end;
    scroll-margin-top: -300px;


}

.contact {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
    scroll-snap-align: end;
}
