*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}



.container {
    display: grid;
    grid-template-columns: 20rem 1fr 4rem;
    grid-template-rows: 100vh max-content;
}

.sidebar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
   
}