.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
    background: rgb(8, 8, 78);


    &__text-bg {
        z-index: 100;
        position:absolute;
        top: 1rem;;
        left: 0;
        opacity: .4;
    }


    &__text__bg {
        font-size: 12rem;
        color: var(--color-white);
        bottom: 0;
        left: 0;
        opacity: 1;
    }
  
}