.projects {
    display: flex;

    &__text-bg {
        font-size: 12rem;
        color: red;
        align-self: flex-start;
        z-index: 5;
        position:fixed;
        bottom: 0;
        transform: translateY(-30rem);  
        opacity: 0;
    }
}