.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__text-bg {
        position: absolute;
        font-size: 12rem;
        color: var(--color-dark);
        z-index: 5;
        position:fixed;
        bottom: 0;
        left: 0;
        opacity: 0;
        transform: translatey(-100%);
    }
}

.project {


    &__wrapper {
        border-radius: 1000px;
        height: 25rem;
        width: 25rem;
        margin: 0 3.5rem;
        box-shadow: 0 10px 6px -6px rgb(36, 35, 35);
        transform: translatey(-35%);
        z-index: 6;
    }

    &__img {
        height: 100%;
        width: 100%;
        position: center;
        object-fit: cover;
        border-radius: 1000px;
    }

    &__wrapper--1 {
        position: relative;
    }

    &__wrapper--2 {
        position: absolute;
    }

    &__wrapper--3 {
        position: absolute;
    }

}



