.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    height: 100%;
    flex-grow: 1;
    width: 15rem;

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        margin: 0 .5rem;
        list-style: none;
        flex-grow: 1;

        & li {
            transform: rotate(-90deg);
            align-self: center;   
        }  
    }



    &__items {
        position: relative;
        transition: all .3s cubic-bezier(1,0,0,1);
    }

    &__items::before {
        content: "";
        position: absolute;
        transform: translateY(.5rem); //scale(0);
        left: 0; 
        height: 2.5rem;
        width: 1%;
        background-color: var(--color-white);
        transition: transform .1s,
                    width .4s cubic-bezier(1,0,0,1) .2s, // .2s is the delay here                    
                    background-color .1s;
    }

    &__links:link,
    &__links:visited {
        color: var(--color-white);
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        position: relative;
        text-transform: uppercase; 
    }

    &__items:hover {
        transform: translate(-.5rem, -.5rem) rotate(-90deg);

        & .sidebar__links {
            color: var(--color-dark);
        }
    }


    &__items:hover::before,
    &__items--active::before{
        width: 100%;      
    }

    &__items--active .sidebar__links {
        color: var(--color-dark);
    }

    &__items--active {
       // transform: translate(-.5rem, -.5rem);
    }




    

}

    



.media {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        margin: 1rem 0;
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        fill: var(--color-white);
    }
}




