.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    height: 100%;
    flex-grow: 1;
    width: 15rem;

    &__list {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        margin: 1.7rem 2rem;
        list-style: none;
        height: 80%;
        flex-grow: 1;
        transform: translateX(2.5rem);

        & li {
            transform: rotate(-90deg);
            align-self: center; 
            background-image: 
            linear-gradient(to bottom,
                rgba(#01011b, .8 ) 0%,
                rgba(#01011b, .8 ) 50%,
                rgba(#304385, .2 )85%);            
            width: 9.85rem;   
            overflow: hidden;  
            box-shadow: -3rem 0rem 4rem -2.2rem black;
        }  

        & li:first-child {
            border-radius: 0px 12px 12px 0px;
        }

        &li:nth-child(2) {
            box-shadow: -1rem 0rem 1rem 0rem black;
        }

        &li:nth-child(3) {
            box-shadow: 0rem 0rem 0rem 0rem black!important;
        }

        & li:last-child {
            border-radius: 12px 0 0 12px;
            box-shadow: -3rem 0rem 4rem -2rem black;
        }
    }



    &__items {
        position: relative;
        transition: all .0001s ;
    }

    &__items::before {
        content: "";
        position: absolute;
    
        
        /*
        transform: translateY(.5rem); //scale(0);
        left: 0; 
        height: 2.5rem;
        width: 1%;
        background-color: var(--color-white);
        transition: transform .1s,
                    width .4s cubic-bezier(1,0,0,1) .2s, // .2s is the delay here                    
                    background-color .1s;*/
    }

    &__links:link,
    &__links:visited {
        color: var(--color-white);
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 1.3rem;
        letter-spacing: .5px;
        font-weight: 600;
        padding: 1rem;
        position: relative;
        text-transform: uppercase; 
        transition: all .3s cubic-bezier(1,0,0,1);
       
    }

    &__items:hover {
        transform: translate(.15rem, .05rem) rotate(-90deg);
        box-shadow: -.2rem 0rem .2rem 0rem black;
        background: rgba(#01011b, .8) ;
       

        & .sidebar__links {
            color: var(--color-white);
        }


      
    }





    &__items--active .sidebar__links {
        box-shadow: 0px 0px 0px 0px !important;
      
    }

    &__items--active {
       transform: translate(.15rem, .1rem) rotate(-90deg) !important;
       
    }




    

}

    



.media {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        margin: 1rem 0;
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        fill: var(--color-white);
    }
}




