.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
    background-image:linear-gradient(
         rgba(black, 0.9),
         rgba(black, 0.9)),
         url("../img/skills.jpg");
    background-position: center;
    background-size: cover;


    &__text-bg {

        z-index: 100;
        position:absolute;
        bottom: 0;
        left: 0;

    }

    &__text__bg {
        font-size: 12rem;
        color: var(--color-white);
        bottom: 0;
        left: 0;
        opacity: .7;
    }
  
}

.skill {
    &__wrapper {
        height: 30rem;
        width: 30rem;
        margin: 0 2rem;
        box-shadow: 0 10px 6px -6px rgb(36, 35, 35);
    }

    &__img {
        height: 100%;
        width: 100%;
        position: center;
        object-fit: cover;
    }

}