:root {
   --color-primary: #050530;
   --color-secondary: #093749;
   --color-tertiary: #106585;


   --color-dark: #020307;
   --color-white: rgb(235, 227, 227); 



   --color-upperline-bg : #1b3263;
   --color-upperline-border: 1px solid rgba(0,0,0, .3);
   --shadow-upperline: 0 0 1rem #2187e7b3;

   --color-upperline__in: #2187e7;
}


