.home__main,
.circle {
    box-shadow: 0rem 3rem 3rem -2rem rgb(41, 40, 40);
    overflow: hidden;
    position: relative;
    border: 3px solid var(--color-upperline__in);
    
}


.btn--circle {
    position: absolute;
    width: 4rem;
    height: 3rem;
    z-index: 1000;
    transform: translateX(-4rem);
    transition: all 2s ease-in-out;
}


.circle--1:hover {
    & .circle__icon {
        transform: translateY(-3rem) translateX(4rem);
    }

    & .btn--circle {
        transform: translateY(4.3rem) translateX(-4rem);
    }
}












