.circle {
    box-shadow: 0rem 3rem 3rem -2rem rgb(41, 40, 40);
    overflow: hidden;
    position: relative;
    border: 3px solid var(--color-upperline__in);
    @include flex_row_centered;
    width: 18rem;
    height: 18rem;
    border-radius: 1000px;
    background-color: white;
    z-index:5;    
    cursor: pointer;
    
}

.circle__icon {
    width: 8rem;
    height: 8rem;
    object-fit: cover;

}












