.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;

    background-image:linear-gradient(to top,
         rgba(#01010c, .7),
         rgba(#01010f, .9)),
         url("../img/bu.jpg");
         background-position: center;
         background-size: cover;
         object-fit: cover;


    &__text-bg {
        z-index: 100;
        position:absolute;
        top: 1rem;;
        left: 0;
        opacity: .4;
    }


    &__text__bg {
        font-size: 12rem;
        color: var(--color-white);
        bottom: 0;
        left: 0;
        opacity: 1;
    }
  
}