.projects {
    display: grid;
    grid-template-columns: 1fr 50vw 1fr;
    grid-template-rows: 100vh;
    position: relative;
    


    &__container {
        height: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    &__upperline {

        &--fromHome {

            grid-row: 3 / 4;
            grid-column: 1 / span 2;
            width: 11rem;
            transform: rotate(45deg) translate(-18rem, 29rem);
            position: relative;
            
                &__in {
                    display: block;
                    height: 5px;
                    width: 100%;
                    background-color: var(--color-upperline__in);
                    position: absolute;
                    right: 0;
                    z-index: 2;
                } 
        }
    }


    .circle {

        &--1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            transform: translate(0rem, 2rem);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--2 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            transform: translate(0rem, 2rem);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--1 {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            transform: translate(0rem, 2rem);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--1 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            transform: translate(0rem, 2rem);
            display: flex;
            align-items: center;
            justify-content: center; 
        }
    }

    &__btn--toHome {
        width: 12rem;
        height: 12rem;
        box-shadow: 0rem 3rem 3rem -2rem rgb(41, 40, 40);
        overflow: hidden;
        position: relative;
        border: 3px solid var(--color-upperline__in);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1000px;

        &__icon {
            width: 9rem;
            height: 9rem;
            object-fit: cover;
            transform: translateY(-.8rem);
        }
    }

}