.skills {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-items: center;
    @include background_centered;
    z-index: 100;
    position: absolute;
    background-image:linear-gradient(
         rgba(black, 0.9),
         rgba(black, 0.9)),
         url("../img/skills.jpg");
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 5rem 1fr 15rem;
    
    &__container {
        width: 100%;
        height: 100%;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: max-content 10rem 1fr;
        grid-template-rows: max-content 2rem 1fr;
        transform: translate(-5rem, -1rem);
      
    }

    &__wrapper {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        list-style: none;
        width: 60rem;
        //margin: 6rem auto;
        padding: 2rem 3.5rem;
        color: var(--color-white);
        align-items: center;
        border: 3px solid var(--color-upperline__in);
        z-index: 2000;
    }

    &__btn--home {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
       // justify-self: end;
      //  align-self: end;
        // @include flex_row_centered;
        z-index: 50;
        // transform: translate(2rem, 2rem);
    }
    





    &__item {
        margin: 2rem 2rem;
        display: grid;
        grid-template-columns: 20rem 1fr;
        align-items: center;
    }

    &__title {
        grid-column: 1 /2;
        display: flex;
        align-items: center;

       // margin: 0 1rem;

        & h3 {
            font-size: 1.7rem;
            color: var(--color-white);
            margin-left: 5rem;
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        object-fit: cover;

        &--html {
            fill: #E54C21;
        }

        &--css {
            fill: #264DE4;
        }

        &--git {
            fill: #F05033;
        }

        &--bootstrap {
            fill: #18073D;
        }
    }

    &__amount {
        grid-column: 2 /3;
        width: 88%;
        height: 3px;
    }

    &__bar {
        position: relative;
        display: block;
        background-color: #1b3263;
        border: 1px solid rgba(0,0,0, .3);
        width: 100%;
        height: 100%;
        
        border-radius: 3px;
 
        box-shadow: 0 0 1rem #2187e7b3;
     


        &__score {
            position: absolute;
            display: block;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #2187e7;
            width: 0%;

        }


    }

  
}






.skills {

    &__upperline--1 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: center;
        position: relative;  
        width: 150%;

        &__in {
            display: block;
            height: 5px;
            width: 100%;
            background-color: var(--color-upperline__in);
            position: absolute;
            left: 0;
            z-index: 2;
        }
    }

    &__upperline--2 {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        transform: rotate(90deg) translate(-1.6rem, -1.9rem);
        width: 6.75rem;
        position: relative;
        z-index: 1;
      
            &__in {
                display: block;
                height: 5px;
                width: 100%;
                background-color: var(--color-upperline__in);
                position: absolute;
                left: 0;
                z-index: 2;
        }

    }
    
}



