.skills {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    background-image:linear-gradient(
         rgba(black, 0.9),
         rgba(black, 0.9)),
         url("../img/skills.jpg");
    background-position: center;
    background-size: cover;
    
 

    &__wrapper {
        list-style: none;
        width: 46%;
        margin: 6rem auto;
        padding: 2rem 3.5rem;
        color: var(--color-white);
        align-items: center;
        transform: translateX(2rem);
        border: 3px solid var(--color-upperline__in);
    }


    &__item {
        margin: 2rem 2rem;
        display: grid;
        grid-template-columns: 20rem 1fr;
        align-items: center;
    }

    &__title {
        grid-column: 1 /2;
        display: flex;
        align-items: center;

       // margin: 0 1rem;

        & h3 {
            font-size: 1.7rem;
            color: var(--color-white);
            margin-left: 5rem;
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        object-fit: cover;

        &--html {
            fill: #E54C21;
        }

        &--css {
            fill: #264DE4;
        }

        &--git {
            fill: #F05033;
        }

        &--bootstrap {
            fill: #18073D;
        }
    }

    &__amount {
        grid-column: 2 /3;
        width: 88%;
        height: 3px;
    }

    &__bar {
        position: relative;
        display: block;
        background-color: #1b3263;
        border: 1px solid rgba(0,0,0, .3);
        width: 100%;
        height: 100%;
        
        border-radius: 3px;
 
        box-shadow: 0 0 1rem #2187e7b3;
     


        &__score {
            position: absolute;
            display: block;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #2187e7;
            width: 0%;

        }


    }

  
}



.skills__btn--toHome {

    position: absolute;
    top: 0;
    left: 0;
    width: 12rem;
    height: 12rem;
    box-shadow: 0rem 3rem 3rem -2rem rgb(41, 40, 40);
    overflow: hidden;
    border: 3px solid var(--color-upperline__in);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px; 
    background-color: var(--color-white);
    z-index: 50;
    transform: translate(2rem, 2rem);

    &__icon {
       width: 9rem;
        height: 9rem;
        object-fit: cover; 

    }
}


.skills {

    &__upperline--1 {

        top: 0;
        left: 0;
        width: 28.16rem;
        transform: rotate(0deg) translate(12rem, 8rem);
        position: absolute;  

        &__in {
            display: block;
            height: 5px;
            width: 100%;
            background-color: var(--color-upperline__in);
            position: absolute;
            left: 0;
            z-index: 2;
        }
    }

    &__upperline--2 {
        top: 0;
        left: 0;
        width: 4.18rem;
        transform: rotate(90deg) translate(10rem, -38rem);
        position: absolute;
      
            &__in {
                display: block;
                height: 5px;
                width: 100%;
                background-color: var(--color-upperline__in);
                position: absolute;
                left: 0;
                z-index: 2;
        }

    }
    
}



